@model List<CostCenterAna>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row align-items-center">
            <div class="col-1">
                <a href="/" class="btn btn-outline-light btn-lg rounded-circle shadow-sm back-button">
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
            <div class="col-10 text-center">
                <h2 class="text-white py-2">Cost Center Ana List</h2>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

<div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6">
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CostCenterAna" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Cost Center Ana
            </a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped">
        <thead class="text-center">
            <tr>
                <th>Company Code</th>
                <th>Document Type</th>
                <th>Document Number</th>
                <th>Document From</th>
                <th>Document Until</th>
                <th>Language Code</th>
                <th>Is Deleted</th>
                <th>Is Passive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.COMCODE</td>
                    <td>@item.CCMDOCTYPE</td>
                    <td>@item.CCMDOCNUM</td>
                    <td>@item.CCMDOCFROM.ToString("yyyy-MM-dd")</td>
                    <td>@item.CCMDOCUNTIL.ToString("yyyy-MM-dd")</td>
                    <td>@item.LANCODE</td>
                    <td>@item.ISDELETED</td>
                    <td>@item.ISPASSIVE</td>
                    <td class="text-center">
                        <a asp-controller="CostCenterAna" asp-action="Edit" asp-route-id="@item.CCMDOCNUM" class="btn btn-sm btn-primary">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-controller="CostCenterAna" asp-action="Delete" asp-route-id="@item.CCMDOCNUM" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.3/i18n/en.json"
                }
            });
        });
    </script>
}
